.channel-item {
  &:hover, &.channel-item--active {
    background-color: #008CFF;
    cursor: pointer;
    margin-right: -2px;
    margin-left: -1px;

    .channel-item-text {
      color: white;
    }
  }
}
