div {
  /* border: 1px solid black;*/
}

#ChatWindow {
  border: 1px solid #eee;
  border-radius: 8px;
}

#participants {
  font-family: Monaco;
  size: 12pt;
}

#participants, #messages {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 70vh;
  overflow: scroll;
}

.nav-pills .nav-item {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
